<div class="container">
    {% if block.title|length %}
        <h1 class="text-center">{{ block.title }}</h1>
    {% endif %}

    <div class="featured-slides row">
        <div class="col-12 col-md-6">
            {% for item in block.feature_slides %}
                <div class="featured-slides__labels" data-aos="fade-right" data-aos-duration="1000">
                    <a class="featured-slides__link" data-slide-index="{{ loop.index }}"><h2>{{ item.slide_label|raw }}</h2></a>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="1000">
            <div class="featured-carousel-wrapper">
                {% for item in block.feature_slides %}
                    <div>
                        <h5>{{ item.slide.title }}</h5>
                        {{ item.slide.content|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>