<h1 class="text-center">{{ block.title }}</h1>

<div class="featured-slides row">
    <div class="col-12 col-md-6">
        {% for item in block.feature_slides %}
            <div class="featured-slides__labels">
                <span class="featured-slides__link" data-slide-index="{{ loop.index }}">{{ item.slide_label|raw }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6">
        <div class="featured-carousel-wrapper">
            {% for item in block.feature_slides %}
                <div>
                    <h5>{{ item.slide.title }}</h5>
                    {{ item.slide.content|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


