{% set align_right = (block.switch_position.true) ? 'order-2' : '' %}
{% set bg = (block.switch_background.true) ? 'reversed' : '' %}

<div class="{{ bg }}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7" data-aos="fade-right" data-aos-duration="1000">
                {{ img(block.image).class('img-responsive')|raw }}
                {# {{ block.photo.make.fit(200, 200)|raw }} #}
            </div>
            <div class="col-12 col-md-4 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                <h2>{{ block.title }}</h2>
                <p>{{ block.blurb|raw }}</p>
                {{ block.content|raw }}
                {% if block.cta_link|length %}
                    <a href="{{ block.cta_link }}" class="button">{{ block.cta_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

