<div class="row">
    <div class="col-12 col-md-7">
        {{ img(block.image).class('img-responsive')|raw }}
        {# {{ block.photo.make.fit(200, 200)|raw }} #}
    </div>
    <div class="col-12 col-md-4 offset-md-1">
        <h1>{{ block.title }}</h1>
        <p>{{ block.blurb|raw }}</p>
        {{ block.content|raw }}
        {% if block.cta_link %}
            <a href="{{ block.cta_link }}">{{ block.cta_label }}</a>
        {% endif %}
    </div>
</div>