<div class="container text-center">
    {% if block.title|length %}
        <h1>{{ block.title }}</h1>
    {% endif %}

    <div class="row">
        {% for col in block.designer_list %}
            <div class="col-12 col-md-4 d-flex align-items-center flex-column mb-5">
                <a href="{{ url_route('pages::3.en') }}/view/{{ str_slug(col.name) }}/{{ col.id }}">
                    <h4>{{ col.name }}</h4>
                </a>
                <p>{{ col.role }}</p>
            </div>
        {% endfor %}
    </div>
</div>
