{% set bg = (block.switch_background.true) ? 'reversed' : '' %}

<div class="{{ bg }}">
    <div class="container">
        <h2 data-aos="fade-down" data-aos-duration="1000">{{ block.title }}</h2>
        <div class="row">
            {% for event in block.event_list %}
                <div class="card col-12 col-md-6">
                    <div data-aos="fade-down" data-aos-duration="1000">
                        {{ img(event.image).class('img-responsive')|raw }}
                    </div>

                    <div data-aos="fade-up" data-aos-duration="1000">
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.price }} | {{ event.date.date() }} | {{ event.time }}</p>
                        {{ event.event_details|raw }}
                        <div class="link mt-5">
                            <a href="{{event.cta_link }}" class="button">{{event.cta_label}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>